[package]
name = "cosmos_crypto"
version = "0.1.0"
edition = "2018"

[dependencies]
time = "0.2.27"
byteorder = "1"
modular = "1.0.0"
rug = "1.13.0"
mcore = {path="mcore", version="0.1.0", features=["std"]}
der = "=0.4.1"
hex = "=0.3.0"
chacha20poly1305 = "=0.9.0"

[features]
std = []